<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zengdw.oauth2.server.mapper.OauthApprovalsMapper">
  <resultMap id="BaseResultMap" type="com.zengdw.oauth2.server.entity.OauthApprovals">
    <!--@mbg.generated-->
    <!--@Table oauth_approvals-->
    <result column="userId" property="userid" />
    <result column="clientId" property="clientid" />
    <result column="scope" property="scope" />
    <result column="status" property="status" />
    <result column="expiresAt" property="expiresat" />
    <result column="lastModifiedAt" property="lastmodifiedat" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    userId, clientId, `scope`, `status`, expiresAt, lastModifiedAt
  </sql>
</mapper>