<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zengdw.oauth2.server.mapper.OauthCodeMapper">
  <resultMap id="BaseResultMap" type="com.zengdw.oauth2.server.entity.OauthCode">
    <!--@mbg.generated-->
    <!--@Table oauth_code-->
    <result column="code" property="code" />
    <result column="authentication" property="authentication" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    code, authentication
  </sql>
</mapper>